
@{
    ViewBag.Title = "Sampatisambandhicard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/Dainik/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="/Content/Dainik/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/Content/Dainik/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/Content/Dainik/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/Dainik/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/Content/Dainik/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Content/Dainik/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/Content/Dainik/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body style="margin:0px 0px 0px 0px">
    <div style="padding:20px 150px">

        <div class="container-fluid">
            <div class="row">
                <!-- Small boxes (Stat box) -->
                <div class="col-sm-4 col-12">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <br /><br />
                            <center>
                                <h5 style="color:white"><b> वार्षिक आय प्रमाणिकरण</b></h5>
                            </center>
                            <br />
                        </div>

                        <a href="#" class="small-box-footer">अगाडि बड्नुहोस् <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-sm-4 col-12">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <br /><br />
                            <center>
                                <h5 style="color:white"><b> सम्पत्ती मुल्याङ्कन</b></h5>
                            </center>
                            <br />
                        </div>

                        <a href="#" class="small-box-footer">अगाडि बड्नुहोस् <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-sm-4 col-12">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <br /><br />
                            <center>
                                <h5 style="color:white"><b>कर सावधानि प्रमाणपत्र  </b></h5>
                            </center>
                            <br />
                        </div>

                        <a href="#" class="small-box-footer">अगाडि बड्नुहोस् <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>

        </div>
        </div>

</body>
</html>


